<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="list.component.css">
</head>
<body>
    <h1>
        Bienvenido
    </h1>
    <section>
        <div class="logo">
        </div>
        <div class="botones">
            <input class="buttons" type="submit" value="Inicio de Sesión" routerLink="/api/login">
            <input class="buttons" type="submit" value=" Crear Usuario">
        </div>
    </section>
    <section>
        <div class="frases">
            <p>
                “La tecnología no es nada. Lo importante es que tengas fe en la gente, que sean básicamente buenas e
                inteligentes, y si les das herramientas, harán cosas maravillosas con ellas”. 
                <br>
                --Steve Jobs, cofundador y presidente ejecutivo de Apple Inc.
            </p>
            <br>
            <br>
            <p>
                “Las grandes oportunidades nacen de haber sabido aprovechar las pequeñas”. 
                <br>
                --Bill Gates, cofundador de la empresa de software Microsoft. 
            </p>
            <br>
            <br>
            <p>
                “Si decides hacer solo las cosas que sabes que van a funcionar, dejarás un montón de oportunidades encima de la mesa”. 
                <br>
                --Jeff Bezos, fundador y director ejecutivo de Amazon.
            </p>
        </div>
    </section>
</body>
</html>
