<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="conocenos.component.css">
    <title>Conocenos</title>
</head>
<body>
 
    
    <h1 id="grupo">
        Grupo #8
    </h1>

    <div id="singrid">

    </div>

    <div id="luis">

    </div>

    <div id="emilio">

    </div>

    <h4 id="singrid2">
        Singrid Cristabel Chicoj Martinez <br>
        202010910
    </h4>

    <h4 id="emilio2">
        Andres Emilio Peñate Hernandez <br>
        201708550
    </h4>

    <h4 id="luis2">
        Luis Enrique Garcia Gutierrez <br>
        202010814
    </h4>

</body>
</html>