<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8" />
    <title>Registrar</title>
    <link rel="stylesheet" href="create.component.css">
</head>
<body>
    <div>
        <section class="form-register">
            <h5>Formulario Registro</h5>
            <input class="controls" type="text" id="Registro_Academico" placeholder="Registro Academico">
            <input class="controls" type="nombres" id="nombres" placeholder="Ingrese su Nombre">
            <input class="controls" type="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
            <input class="controls" type="password" id="password" placeholder="Contraseña">
            <input class="controls" type="correo" id="correo" placeholder="Ingrese su Correo">
            <input class="buttons" type="submit" value="Registrar">
            <p><a routerLink="/inicio/login">Ya tengo cuenta</a></p>
        </section>
    </div>
    <div class="logo"></div>
    <script  ></script>
</body>
</html>